<div class="nav-area header-type-2">
  <!-- top bar -->

  <!-- desktop nav -->
  <header id="homey_nav_sticky" class="header-nav hidden-sm hidden-xs" data-sticky="0">
    <div class="top-inner-header">
      <div class="container">
        <div class="header-inner clearfix">
          <div class="header-comp-logo">
            <h1>
              <a class="homey_logo" href="../index.html">
                <!-- <img src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2019/02/homey-logo.png" alt="Homey" title="Homey - Demo 02">
			</a> -->
                HOME
            </h1>
          </div>
          <div class="header-comp-right">
            <div class="account-login">

              <ul class="login-register list-inline">
                <li style="color: black; font-weight: 900;">user</li>
                <li><i class="fa fa-circle-o"></i></li>
                <li style="height: 50px;width: 50px;border-radius: 20%;">
                  <img src="assets/profile.png" alt="profile">
                </li>
              </ul>

              <a href="host-registration" class="btn btn-add-new-listing">Become a Host</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-inner-header">
      <div class="container">
        <div class="header-inner clearfix">
          <div class="header-comp-nav text-center">
            <nav class="navi">
              <ul id="main-menu" class="main-menu">
                <li id="menu-item-692"
                  class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-692">
                  <a href="home">Home</a>

                </li>
                <li id="menu-item-193"
                  class="homey-megamenu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
                  <a href="listing">Listing</a>

                </li>
                <!-- <li id="menu-item-710" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-710"><a href="#">Property</a>
<ul class="sub-menu">
	<li id="menu-item-822" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-822"><a href="../listing/modern-apartment-with-pool/indexd8c6.html?detail_layout=v1">Property Template v1</a></li>
	<li id="menu-item-823" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-823"><a href="../listing/modern-apartment-with-pool/index8c7b.html?detail_layout=v2">Property Template v2</a></li>
	<li id="menu-item-824" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-824"><a href="../listing/modern-apartment-with-pool/index2ab0.html?detail_layout=v3">Property template v3</a></li>
	<li id="menu-item-825" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-825"><a href="../listing/modern-apartment-with-pool/indexa4c0.html?detail_layout=v4">Property Template v4</a></li>
	<li id="menu-item-1847" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1847"><a href="../listing/modern-apartment-with-pool/index.html">Instant Booking</a></li>
	<li id="menu-item-1848" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1848"><a href="../listing/stylish-and-modern-lof/index.html">Request to Book</a></li>
	<li id="menu-item-1866" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1866"><a href="../listing/stylish-and-modern-lof/index.html">Custom Period Prices</a></li>
	<li id="menu-item-2049" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2049"><a href="../listing/beautiful-cove/index.html">Extra Prices</a></li>
</ul>
</li> -->

                <li id="menu-item-1262"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1262">
                  <a href="#">Listing Types</a>
                  <ul class="sub-menu">
                    <li id="menu-item-1265"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1265"><a
                        href="Appartment">Apartment</a></li>
                    <li id="menu-item-1263"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1263"><a
                        href="bed-breakfast">Bed &amp; Breakfast</a></li>
                    <li id="menu-item-1267"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1267"><a
                        href="condo">Condo</a></li>
                    <li id="menu-item-1264"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1264"><a
                        href="house">House</a></li>
                    <li id="menu-item-1266"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1266"><a
                        href="loft">Loft</a></li>
                    <li id="menu-item-1268"
                      class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1268"><a
                        href="studio">Studio</a></li>
                  </ul>
                </li>

                

                </li>
                <li id="menu-item-712"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-712">
                  <a href="blog">Blog</a>

                </li>
                <li id="menu-item-711"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-711">
                  <a href="#about">About us</a>

                </li>

                <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1342">
                  <a href="#">Contact us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- mobile header -->
  <header class="header-nav header-mobile hidden-md hidden-lg">
    <div class="header-mobile-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <button type="button" class="btn btn-mobile-nav mobile-main-nav" data-toggle="collapse"
              data-target="#mobile-nav" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button><!-- btn-mobile-nav -->
          </div>
          <div class="col-xs-6">
            <div class="mobile-logo text-center">
              <h1>
                <a href="../index.html">
                  <!-- <img src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2019/02/homey-logo.png" alt="Homey" title="Homey - Demo 02"> -->
                  HOME
                </a>
              </h1>
            </div><!-- mobile-logo -->
          </div>
          <div class="col-xs-3">
            <div class="user-menu text-right">
              <button type="button" class="btn btn-mobile-nav user-mobile-nav" data-toggle="collapse"
                data-target="#user-nav" aria-expanded="false">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="user-alert" style="display: none;"></span> </button>
            </div><!-- user-menu -->
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- header-mobile-wrap -->

    <div class="container">
      <div class="row">
        <div class="mobile-nav-wrap">
          <nav id="mobile-nav" class="nav-dropdown main-nav-dropdown collapse navbar-collapse">
            <ul id="mobile-menu" class="mobile-menu">
              <li
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-692">
                <a href="#">Home</a>

              </li>
              <li
                class="homey-megamenu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
                <a href="listing">Listing</a>

              <li
                class="homey-megamenu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
                <a href="../listing-list-full-width/index.html">Blog</a>
              </li>

              <li
                class="homey-megamenu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
                <a href="../listing-list-full-width/index.html">About Us</a>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1262">
                <a href="#">Listing Types</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1265"><a
                      href="../type/apartment/index.html">Apartment</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1263"><a
                      href="../type/bed-breakfast/index.html">Bed &amp; Breakfast</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1267"><a
                      href="../type/condo/index.html">Condo</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1264"><a
                      href="../type/house/index.html">House</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1266"><a
                      href="../type/loft/index.html">Loft</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_type menu-item-1268"><a
                      href="../type/studio/index.html">Studio</a></li>
                </ul>
              </li>

              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1273">
                <a href="#">Listing Cities</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_city menu-item-1274"><a
                      href="../city/miami/index.html">Nairobi</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_city menu-item-1275"><a
                      href="../city/los-angeles/index.html">Mombasa</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_city menu-item-1276"><a
                      href="../city/san-francisco/index.html">Kisumu</a></li>
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-listing_city menu-item-1277"><a
                      href="../city/new-york/index.html">Meru</a></li>
                </ul>
              </li>
              <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-710"><a href="#">Property</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-822"><a href="../listing/modern-apartment-with-pool/indexd8c6.html?detail_layout=v1">Property Template v1</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-823"><a href="../listing/modern-apartment-with-pool/index8c7b.html?detail_layout=v2">Property Template v2</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-824"><a href="../listing/modern-apartment-with-pool/index2ab0.html?detail_layout=v3">Property template v3</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-825"><a href="../listing/modern-apartment-with-pool/indexa4c0.html?detail_layout=v4">Property Template v4</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1847"><a href="../listing/modern-apartment-with-pool/index.html">Instant Booking</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1848"><a href="../listing/stylish-and-modern-lof/index.html">Request to Book</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1866"><a href="../listing/stylish-and-modern-lof/index.html">Custom Period Prices</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2049"><a href="../listing/beautiful-cove/index.html">Extra Prices</a></li>
</ul>
</li>  -->

              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1342"><a
                  href="../contact-us/index.html">Contact us</a></li>
            </ul>
          </nav>
        </div><!-- mobile-nav-wrap -->
      </div>
    </div><!-- container -->
    <div class="container">
      <div class="row">
        <div class="user-nav-wrap">

          <nav id="user-nav" class="nav-dropdown main-nav-dropdown collapse navbar-collapse">
            <ul>

              <li>
                <a href="#" data-toggle="modal" data-target="#modal-login">
                  <span data-toggle="collapse" data-target="#user-nav">Login</span>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="modal" data-target="#modal-register">
                  <span data-toggle="collapse" data-target="#user-nav">Register</span>
                </a>
              </li>

              <li><a href="../become-a-host/index.html">Become a Host</a></li>

            </ul>
          </nav><!-- nav-collapse -->

        </div><!-- mobile-nav-wrap -->
      </div>
    </div><!-- container -->
  </header><!-- header-nav header-mobile hidden-md hidden-lg -->
</div>