<!DOCTYPE html>
<html lang="en-US" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">

<!-- Mirrored from demo02.gethomey.io/become-a-host/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Dec 2020 06:20:02 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="../xmlrpc.php">

	<title>Become a Host &#8211; Homey</title>
<link rel='dns-prefetch' href='http://maps-api-ssl.google.com/' />
<link rel='dns-prefetch' href='http://js.stripe.com/' />
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel='preconnect' href='https://fonts.gstatic.com/' crossorigin />
<link rel="alternate" type="application/rss+xml" title="Homey &raquo; Feed" href="../feed/index.html" />
<link rel="alternate" type="application/rss+xml" title="Homey &raquo; Comments Feed" href="../comments/feed/index.html" />
<meta property="og:title" content="Become a Host"/><meta property="og:type" content="article"/><meta property="og:url" content="index.html"/><meta property="og:site_name" content="Homey"/><meta property="og:image" content="http://example.com/image.jpg"/>
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/demo02.gethomey.io\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.3"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.2.18' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='bootstrap-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/bootstrap.min.css?ver=3.3.7' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-select-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/bootstrap-select.min.css?ver=1.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
<link rel='stylesheet' id='swipebox-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/swipebox.min.css?ver=1.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='slick-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/slick.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='slick-theme-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/slick-theme.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/jquery-ui.css?ver=1.12.0' type='text/css' media='all' />
<link rel='stylesheet' id='radio-checkbox-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/radio-checkbox.css?ver=1.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='homey-main-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/main.css?ver=1.6.0' type='text/css' media='all' />
<link rel='stylesheet' id='homey-styling-options-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/css/styling-options.css?ver=1.6.0' type='text/css' media='all' />
<link rel='stylesheet' id='homey-style-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/style.css?ver=1.6.0' type='text/css' media='all' />
<style id='homey-style-inline-css' type='text/css'>

  body, address, li, dt, dd, .pac-container  {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-family: Quicksand, sans-serif;
  }
  .woocommerce ul.products li.product .button {
    font-family: Quicksand, sans-serif;
    font-size: 15px; 
  }
  
    h1, h2, h3, h4, h5, h6, .banner-title {
      font-family: Quicksand, sans-serif;
      font-weight: 700;
      text-transform: inherit;
      text-align: inherit;
    }
    
    .navi > .main-menu > li > a,
    .account-loggedin,
    .login-register a {
      font-size: 14px;
      line-height: 80px;
      font-weight: 700;
      text-transform: none;
      font-family: Quicksand, sans-serif;
    }
    .menu-dropdown,
    .sub-menu li a,
    .navi .homey-megamenu-wrap > .sub-menu, 
    .listing-navi .homey-megamenu-wrap > .sub-menu,
    .account-dropdown ul > li a {
      font-size: 14px;
      line-height: 1;
      font-weight: 700;
      text-transform: none;
      font-family: Quicksand, sans-serif;
    }

    
    a,
    .primary-color,
    .btn-primary-outlined,
    .btn-link,
    .super-host-flag,
    .is-style-outline .wp-block-button__link,
    .woocommerce nav.woocommerce-pagination ul li a, 
    .woocommerce nav.woocommerce-pagination ul li span,
    .woocommerce-MyAccount-navigation ul li a:hover  {
      color: #f15e75;
    }
    .pagination > .active > a, 
    .pagination > .active > a:focus, 
    .pagination > .active > a:hover, 
    .pagination > .active > span, 
    .pagination > .active > span:focus, 
    .pagination > .active > span:hover,
    .btn-primary-outlined,
    .searchform button,
    .is-style-outline .wp-block-button__link,
    .wp-block-file .wp-block-file__button,
    .wp-block-search__button {
      border-color: #f15e75;
    }
    
    .pagination > .active > a, 
    .pagination > .active > a:focus, 
    .pagination > .active > a:hover, 
    .pagination > .active > span, 
    .pagination > .active > span:focus, 
    .pagination > .active > span:hover,
    .media-signal .signal-icon,
    .single-blog-article .meta-tags a,
    .title .circle-icon,
    .label-primary,
    .searchform button,
    .next-prev-block .prev-box, 
    .next-prev-block .next-box,
    .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, 
    .dropdown-menu>.active>a:hover,
    .tagcloud a,
    .title-section .avatar .super-host-icon,
    .wp-block-button__link,
    .wp-block-file .wp-block-file__button,
    .wp-block-search__button {
      background-color: #f15e75;
    }

    .slick-prev,
    .slick-next {
      color: #f15e75;
      border: 1px solid #f15e75;
      background-color: transparent;
    }
    .slick-prev:before,
    .slick-next:before {
      color: #f15e75;
    }
    .slick-prev:hover:before,
    .slick-next:hover:before,
    .top-gallery-section .slick-prev:before,
    .top-gallery-section .slick-next:before {
      color: #fff;
    }

    .header-slider .slick-prev,
    .header-slider .slick-next,
    .top-gallery-section .slick-prev,
    .top-gallery-section .slick-next {
      border: 1px solid #f15e75;
      background-color: #f15e75;
    }
    .nav-tabs > li.active > a {
      box-shadow: 0px -2px 0px 0px inset #f15e75;
    }
    .woocommerce nav.woocommerce-pagination ul li a:focus, 
    .woocommerce nav.woocommerce-pagination ul li a:hover, 
    .woocommerce nav.woocommerce-pagination ul li span.current {
      border: 1px solid #f15e75;
      background-color: #f15e75;
      color: #fff;
    }
    
    a:hover,
    a:focus,
    a:active,
    .btn-primary-outlined:focus,
    .crncy-lang-block > li:hover a,
    .crncy-lang-block .dropdown-menu li:hover {
      color: #f58d9d;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .table-hover > tbody > tr:hover,
    .search-auto-complete li:hover,
    .btn-primary-outlined:hover,
    .btn-primary-outlined:active,
    .item-tools .dropdown-menu > li > a:hover,
    .tagcloud a:hover,
    .pagination-main a:hover,
    .page-links a:hover,
    .wp-block-button__link:hover,
    .wp-block-file .wp-block-file__button:hover,
    .wp-block-search__button:hover {
      background-color: #f58d9d;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination-main a:hover,
    .page-links a:hover,
    .wp-block-file .wp-block-file__button:hover,
    .wp-block-search__button:hover {
      border: 1px solid #f58d9d;
    }
    .is-style-outline .wp-block-button__link:hover  {
      border: 2px solid #f58d9d;
      color: #fff;
    }

    .slick-prev:focus, .slick-prev:active,
    .slick-next:focus,
    .slick-next:active {
      color: #f58d9d;
      border: 1px solid #f58d9d;
      background-color: transparent;
    }
    .slick-prev:hover,
    .slick-next:hover {
      background-color: #f58d9d;
      border: 1px solid #f58d9d;
      color: #fff;
    }

    .header-slider .slick-prev:focus,
    .header-slider .slick-next:active {
      border: 1px solid #f58d9d;
      background-color: #f58d9d;
    }
    .header-slider .slick-prev:hover,
    .header-slider .slick-next:hover {
      background-color: rgba(241, 94, 117, 0.65);
      border: 1px solid #f58d9d;
    }
    
    .secondary-color,
    .btn-secondary-outlined,
    .taber-nav li.active a,
    .saved-search-block .saved-search-icon,
    .block-title .help,
    .custom-actions .btn-action,
    .daterangepicker .input-mini.active + i,
    .daterangepicker td.in-range,
    .payment-list-detail-btn {
      color: #54c4d9;
    }

    .daterangepicker td.active,
    .daterangepicker td.active.end-date,
    .homy-progress-bar .progress-bar-inner,
    .fc-event,
    .property-calendar .current-day,
    .label-secondary,
    .wallet-label {
      background-color: #54c4d9;
    }

    .availability-section .search-calendar .days li.day-available.current-day {
      background-color: #54c4d9 !important;    
    }

    .daterangepicker .input-mini.active,
    .daterangepicker td.in-range,
    .msg-unread {
      background-color: rgba(84, 196, 217, 0.2);
    }

    .msgs-reply-list .msg-me {
      background-color: rgba(84, 196, 217, 0.1) !important;
    }

    .control input:checked ~ .control-text {
      color: #54c4d9;
    }
    .control input:checked ~ .control__indicator {
      background-color: #7ed2e2;
      border-color: #54c4d9;
    }
    .control input:checked:focus ~ .control__indicator,
    .control input:checked:active ~ .control__indicator {
      background-color: #54c4d9;
      border-color:#54c4d9;
    }
    .control input:focus ~ .control__indicator {
      background-color: #7ed2e2;
      border-color:#54c4d9;
    }

    .open > .btn-default.dropdown-toggle,
    .custom-actions .btn-action,
    .daterangepicker .input-mini.active,
    .msg-unread {
      border-color: #54c4d9;
    }

    .bootstrap-select .btn:focus,
    .bootstrap-select .btn:active {
      border-color: #54c4d9 !important;
    }
    .main-search-calendar-wrap .days li.selected, 
    .main-search-calendar-wrap .days li:hover:not(.day-disabled),
    .single-listing-booking-calendar-js .days li.selected,
    .single-listing-booking-calendar-js .days li:hover:not(.day-disabled) {
      background-color: #54c4d9 !important;
      color: #fff
    }
    .main-search-calendar-wrap .days li.in-between,
    .single-listing-booking-calendar-js .days li.in-between {
      background-color: rgba(84, 196, 217, 0.2)!important;
    }
    .single-listing-booking-calendar-js .days li.homey-not-available-for-booking:hover {
      background-color: transparent !important;
      color: #949ca5;
    }
    li.current-month.reservation_start.homey-not-available-for-booking:hover {
      background-color: #54c4d9 !important;
      color: #fff
    }
    .woocommerce span.onsale,
    .woocommerce ul.products li.product .button,
    .woocommerce #respond input#submit.alt, 
    .woocommerce a.button.alt, 
    .woocommerce button.button.alt, 
    .woocommerce input.button.alt,
    .woocommerce #review_form #respond .form-submit input,
    .woocommerce #respond input#submit, 
    .woocommerce a.button, 
    .woocommerce button.button, 
    .woocommerce input.button {
      color: #fff;
      background-color: #54c4d9;
      border-color: #54c4d9; 
    }
    .woocommerce ul.products li.product .button:focus,
    .woocommerce ul.products li.product .button:active,
    .woocommerce #respond input#submit.alt:focus, 
    .woocommerce a.button.alt:focus, 
    .woocommerce button.button.alt:focus, 
    .woocommerce input.button.alt:focus,
    .woocommerce #respond input#submit.alt:active, 
    .woocommerce a.button.alt:active, 
    .woocommerce button.button.alt:active, 
    .woocommerce input.button.alt:active,
    .woocommerce #review_form #respond .form-submit input:focus,
    .woocommerce #review_form #respond .form-submit input:active,
    .woocommerce #respond input#submit:active, 
    .woocommerce a.button:active, 
    .woocommerce button.button:active, 
    .woocommerce input.button:active,
    .woocommerce #respond input#submit:focus, 
    .woocommerce a.button:focus, 
    .woocommerce button.button:focus, 
    .woocommerce input.button:focus {
      color: #fff;
      background-color: #54c4d9;
      border-color: #54c4d9; 
    }
    .woocommerce ul.products li.product .button:hover,
    .woocommerce #respond input#submit.alt:hover, 
    .woocommerce a.button.alt:hover, 
    .woocommerce button.button.alt:hover, 
    .woocommerce input.button.alt:hover,
    .woocommerce #review_form #respond .form-submit input:hover,
    .woocommerce #respond input#submit:hover, 
    .woocommerce a.button:hover, 
    .woocommerce button.button:hover, 
    .woocommerce input.button:hover {
      color: #fff;
      background-color: #7ed2e2;
      border-color: #7ed2e2; 
    }
    
    .taber-nav li:hover a,
    .payment-list-detail-btn:hover,
    .payment-list-detail-btn:focus {
      color: #7ed2e2;
    }

    .header-comp-search .form-control:focus {
      background-color: rgba(84, 196, 217, 0.2);
    }

    .bootstrap-select.btn-group .dropdown-menu a:hover,
    .daterangepicker td.active:hover,
    .daterangepicker td.available:hover,
    .daterangepicker th.available:hover,
    .custom-actions .btn-action:hover,
    .calendar-table .prev:hover,
    .calendar-table .next:hover,
    .btn-secondary-outlined:hover,
    .btn-secondary-outlined:active,
    .btn-preview-listing:hover,
    .btn-preview-listing:active,
    .btn-preview-listing:focus,
    .btn-action:hover,
    .btn-action:active,
    .btn-action:focus {
      background-color: #7ed2e2;
    }

    .woocommerce #respond input#submit.alt:hover, 
    .woocommerce a.button.alt:hover, 
    .woocommerce button.button.alt:hover, 
    .woocommerce input.button.alt:hover,
    .woocommerce #respond input#submit:hover, 
    .woocommerce a.button:hover, 
    .woocommerce button.button:hover, 
    .woocommerce input.button:hover {
      background-color: #7ed2e2;
    }

    .form-control:focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:active,
    .header-comp-search .form-control:focus,
    .btn-secondary-outlined:hover,
    .btn-secondary-outlined:active,
    .btn-secondary-outlined:focus,
    .btn-preview-listing:hover,
    .btn-preview-listing:active,
    .btn-preview-listing:focus {
      border-color: #7ed2e2;
    }

    .bootstrap-select .btn:focus,
    .bootstrap-select .btn:active {
      border-color: #7ed2e2 !important;
    }
    
    body {
      background-color: #f7f8f9;
    }
    
    body,
    .fc button,
    .pagination > li > a,
    .pagination > li > span,
    .item-title-head .title a,
    .sidebar .widget .review-block .title a,
    .sidebar .widget .comment-block .title a,
    .adults-calculator .quantity-calculator input[disbaled],
    .children-calculator .quantity-calculator input[disbaled],
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus,
    .modal-login-form .forgot-password-text a,
    .modal-login-form .checkbox a,
    .bootstrap-select.btn-group .dropdown-menu a,
    .header-nav .social-icons a,
    .header-nav .crncy-lang-block > li span,
    .header-comp-logo h1,
    .item-list-view .item-user-image,
    .item-title-head .title a,
    .control,
    .blog-wrap h2 a,
    .banner-caption-side-search .banner-title, 
    .banner-caption-side-search .banner-subtitle,
    .widget_categories select,
    .widget_archive  select,
    .woocommerce ul.products li.product .price,
    .woocommerce div.product p.price, 
    .woocommerce div.product span.price,
    .woocommerce #reviews #comments ol.commentlist li .meta,
    .woocommerce-MyAccount-navigation ul li a {
      color: #3b4249;
    }

    .item-title-head .title a:hover,
    .sidebar .widget .review-block .title a:hover,
    .sidebar .widget .comment-block .title a:hover {
      color: rgba(79, 89, 98, 0.5);
    }
    
.homey-osm-cluster {
  background-image: url(http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/11/cluster-3.png);
  text-align: center;
  color: #fff;
  width: 47px;
  height: 47px;
  line-height: 47px;
}

    .transparent-header .navi > .main-menu > li > a,
    .transparent-header .account-loggedin,
    .transparent-header .header-mobile .login-register a,
    .transparent-header .header-mobile .btn-mobile-nav {
      color: #ffffff;
    }
    .transparent-header .navi > .main-menu > li > a:hover, .transparent-header .navi > .main-menu > li > a:active,
    .transparent-header .account-loggedin:hover,
    .transparent-header .account-loggedin:active,
    .transparent-header .login-register a:hover,
    .transparent-header .login-register a:active {
      color: #f15e75;
    }
    .transparent-header .navi > .main-menu > li > a:before {
      background-color: #f15e75;
    }
    .transparent-header .navi > .main-menu > li > a:before,
    .transparent-header .listing-navi > .main-menu > li > a:before {
      background-color: #f15e75;
    }
    .transparent-header .navi > .main-menu > li.active > a,
    .transparent-header .listing-navi > .main-menu > li.active > a {
      color: #f15e75;
    }
    .transparent-header .account-loggedin:before {
      background-color: #f15e75;
    }
    .transparent-header .navi .homey-megamenu-wrap,
    .transparent-header .listing-navi .homey-megamenu-wrap {
      background-color: #ffffff;
    }
    
    .header-nav {
      background-color: #ffffff;
      border-bottom: 1px solid #d8dce1;
    }

    .navi > .main-menu > li > a,
    .header-mobile .btn-mobile-nav {
      color: #4f5962;
    }
    .navi > .main-menu > li > a:hover, .navi > .main-menu > li > a:active,
    .navi .homey-megamenu-wrap > .sub-menu a:hover,
    .navi .homey-megamenu-wrap > .sub-menu a:active {
      color: #f15e75;
    }

    .navi > .main-menu > li > a:before,
    .listing-navi > .main-menu > li > a:before {
      background-color: #f15e75;
    }
    .navi > .main-menu > li.active > a,
    .listing-navi > .main-menu > li.active > a {
      color: #f15e75;
    }
    .navi .homey-megamenu-wrap,
    .listing-navi .homey-megamenu-wrap {
      background-color: #fff;
    }
    .banner-inner:before,
    .video-background:before {
      opacity: 0.35;
    }
    .page-template-template-splash .banner-inner:before,
    .page-template-template-splash .video-background:before {
      opacity: 0.35;
    }
    .top-banner-wrap {
     height: 600px
   }
   @media (max-width: 767px) {
    .top-banner-wrap {
     height: 300px
   }
 }

 .header-type-2 .top-inner-header,
 .header-type-3 .top-inner-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d8dce1;
}

.header-type-2 .bottom-inner-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d8dce1;
}

.header-type-3 .bottom-inner-header {
  background-color: #ffffff;
  border-bottom: 1px solid #d8dce1;
}
.login-register a,
.account-loggedin,
.account-login .login-register .fa {
  color: #4f5962;
  background-color: transparent;
}
.login-register a:hover, 
.login-register a:active,
.account-loggedin:hover,
.account-loggedin:active {
  color: #f15e75;
  background-color: transparent;
}
.account-loggedin:before {
  background-color: #f15e75;
}
.account-loggedin.active .account-dropdown {
  background-color: #ffffff
}
.account-dropdown ul > li a {
  color: #4f5962;
}
.account-dropdown ul > li a:hover {
  background-color: rgba(0,0,0,.15);
  color: #4f5962;
}
span.side-nav-trigger {
  color: #4f5962;
}
.transparent-header span.side-nav-trigger {
  color: #ffffff;
}
.top-inner-header .social-icons a {
  color: #4f5962;
}

    .navi .homey-megamenu-wrap > .sub-menu a,
    .listing-navi .homey-megamenu-wrap > .sub-menu a {
      color: #4f5962;
      background-color: #ffffff;
    }
    .navi .homey-megamenu-wrap > .sub-menu a:hover,
    .listing-navi .homey-megamenu-wrap > .sub-menu a:hover {
      color: #f15e75;
      background-color: #ffffff;
    }
    .header-nav .menu-dropdown a,
    .header-nav .sub-menu a {
      color: #4f5962;
      background-color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
    .header-nav .menu-dropdown a:hover,
    .header-nav .sub-menu a:hover {
      color: #f15e75;
      background-color: #ffffff;
    }
    .header-nav .menu-dropdown li.active > a,
    .header-nav .sub-menu li.active > a {
      color: #f15e75;
    }
    
    .btn-add-new-listing {
      color: #f15e75;
      background-color: #ffffff;
      border-color: #f15e75;
      font-size: 14px;
    }
    .btn-add-new-listing:focus {
      color: #f15e75;
      background-color: #ffffff;
      border-color: #f15e75;
    }
    .btn-add-new-listing:hover {
      color: #f15e75;
      background-color: #ffffff;
      border-color: #f15e75;
    }
    .btn-add-new-listing:active {
      color: #f15e75;
      background-color: #ffffff;
      border-color: #f15e75;
    } 
    
    .btn-primary,
    .post-password-form input[type='submit'],
    .wpcf7-submit,
    .gform_wrapper .button, .gform_button {
      color: #ffffff;
      background-color: #f15e75;
      border-color: #f15e75;
    }
    .btn-primary:focus,
    .btn-primary:active:focus,
    .post-password-form input[type='submit']:focus,
    .post-password-form input[type='submit']:active:focus,
    .wpcf7-submit:focus,
    .wpcf7-submit:active:focus,
    .gform_wrapper .button, .gform_button:focus,
    .gform_wrapper .button, .gform_button:active:focus {
      color: #ffffff;
      background-color: #f15e75;
      border-color: #f15e75;
    }
    .btn-primary:hover,
    .post-password-form input[type='submit']:hover,
    .wpcf7-submit:hover,
    .gform_wrapper .button, .gform_button:hover {
      color: #ffffff;
      background-color: #f58d9d;
      border-color: #f58d9d;
    }
    .btn-primary:active,
    .post-password-form input[type='submit']:active,
    .wpcf7-submit:active,
    .gform_wrapper .button, .gform_button:active {
      color: #ffffff;
      background-color: #f58d9d;
      border-color: #f58d9d;
    }

    .btn-secondary {
      color: #ffffff;
      background-color: #54c4d9;
      border-color: #54c4d9;
    }
    .btn-secondary:focus,
    .btn-secondary:active:focus {
      color: #ffffff;
      background-color: #54c4d9;
      border-color: #54c4d9;
    }
    .btn-secondary:hover {
      color: #ffffff;
      background-color: #7ed2e2;
      border-color: #7ed2e2;
    }
    .btn-secondary:active {
      color: #ffffff;
      background-color: #7ed2e2;
      border-color: #7ed2e2;
    }
    .btn-secondary-outlined,
    .btn-secondary-outlined:focus {
      color: #54c4d9;
      border-color: #54c4d9;
      background-color: transparent;
    } 
    .btn-secondary-outlined:hover {
      color: #ffffff;
      background-color: #7ed2e2;
      border-color: #7ed2e2;
    }
    .btn-secondary-outlined:hover:active {
      color: #ffffff;
      background-color: #7ed2e2;
      border-color: #7ed2e2;
    }
    
    .main-search {
      background-color: #ffffff;
    }
    
    .header-top-bar {
      background-color: #4f5962;
    }

    .social-icons a,
    .top-bar-inner,
    .top-bar-inner li {
      color: #ffffff;
    }

    .top-contact-address li {
      color: #ffffff;
    }
    .top-contact-address a {
      color: #ffffff;
    }
    .top-contact-address a:hover {
      color: rgba(255,255,255,0.8);
    }
    
    .header-comp-logo img {
      width: 128px;
      height: 30px;
    }
    .mobile-logo img {
      width: 128px;
      height: 30px;
    }
    
    .footer-top-wrap {
      background-color: #ffffff;
      color: #000000;
    }

    .footer-bottom-wrap,
    .footer-small {
      background-color: #ffffff;
      color: #000000;
    }

    .footer .social-icons a,
    .footer a,
    .footer .title a,
    .widget-latest-posts .post-author, 
    .widget-latest-posts .post-author a {
      color: #000000;
    }

    .footer .social-icons a:hover,
    .footer a:hover,
    .footer .title a:hover {
      color: #54c4d9;
    }

    .footer-copyright {
      color: #000000;
    }
    
    .label-featured {
      background-color: #54c4d9;
      color: #ffffff;
    }
    .item-user-image img {
    border-radius: 50% !important;
    overflow: hidden !important;
    border: 2px solid #fff !important;
}
.sub-menu {
    top: 100%;
}
.form-group br {
    display: none;
}
.property-module-grid .item-grid-view .item-wrap,
.property-module-card .item-card-view .item-wrap {
    width: calc(100% / 3);
    max-width: inherit;
}
@media (max-width: 1200px) {
    .property-module-grid .item-grid-view .item-wrap,
    .property-module-card .item-card-view .item-wrap {
        width: calc(100% / 3);
        max-width: inherit;
    }
}
@media (max-width: 768px) {
    .property-module-grid .item-grid-view .item-wrap,
    .property-module-card .item-card-view .item-wrap {
        width: 50%;
        max-width: 100%;
    }
}
@media (max-width: 480px) {
    .property-module-grid .item-grid-view .item-wrap,
    .property-module-card .item-card-view .item-wrap {
        width: 100%;
        max-width: 100%;
    }
}


.item-card-view ul.item-amenities {
    height: auto;
}
.item-card-view .title a {
    color: #ffffff;
}
.banner-inner.parallax {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.parallax-inner {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
    transform: translate3d(0, 0, 0) !important;
}
.overlay-booking-btn {z-index: 999;}
.overlay-booking-module {z-index: 1000;}				
</style>
<link rel='stylesheet' id='elementor-icons-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-animations-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.0.11' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-legacy-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.0.11' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.0.11' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-2227-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/elementor/css/post-2227.css?ver=1602780651' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/elementor/css/global.css?ver=1602780651' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-1530-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/elementor/css/post-1530.css?ver=1602784842' type='text/css' media='all' />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&amp;display=swap&amp;ver=1605631982" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&amp;display=swap&amp;ver=1605631982" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&amp;display=swap&amp;ver=1605631982" /></noscript><link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Quicksand%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CLato%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-icons-shared-0-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.12.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-icons-fa-solid-css'  href='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.12.0' type='text/css' media='all' />
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.2.18' id='tp-tools-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.2.18' id='revmin-js'></script>
<script type='text/javascript' src='https://maps-api-ssl.google.com/maps/api/js?libraries=places&amp;language=en_US&amp;key=AIzaSyB9787TJWdi16Cj5xW4Rl4Ab_1NbzRr7do&amp;ver=1.0' id='google-map-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/infobox_packed.js?ver=1.1.19' id='infobox-packed-js'></script>
<link rel="https://api.w.org/" href="../wp-json/index.html" /><link rel="alternate" type="application/json" href="../wp-json/wp/v2/pages/1530.json" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.5.3" />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='../index60da.html?p=1530' />
<link rel="alternate" type="application/json+oembed" href="../wp-json/oembed/1.0/embed7ff5.json?url=https%3A%2F%2Fdemo02.gethomey.io%2Fbecome-a-host%2F" />
<link rel="alternate" type="text/xml+oembed" href="../wp-json/oembed/1.0/embed1da3?url=https%3A%2F%2Fdemo02.gethomey.io%2Fbecome-a-host%2F&amp;format=xml" />
<meta name="framework" content="Redux 4.1.21" /><!-- Favicon --><link rel="shortcut icon" href="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/10/favicon.png"><!-- Apple iPhone Icon --><link rel="apple-touch-icon-precomposed" href="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/10/iphone-icon.png"><!-- Apple iPhone Retina Icon --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/10/iphone-retina-icon.png"><!-- Apple iPhone Icon --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/10/ipad-icon.png"><meta name="generator" content="Powered by Slider Revolution 6.2.18 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script type="text/javascript">function setREVStartSize(e){
			//window.requestAnimationFrame(function() {				 
				window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;	
				window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;	
				try {								
					var pw = document.getElementById(e.c).parentNode.offsetWidth,
						newh;
					pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
					e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
					e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
					e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
					e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
					e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
					e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
					e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);		
					if(e.layout==="fullscreen" || e.l==="fullscreen") 						
						newh = Math.max(e.mh,window.RSIH);					
					else{					
						e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
						for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];					
						e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
						e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
						for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];
											
						var nl = new Array(e.rl.length),
							ix = 0,						
							sl;					
						e.tabw = e.tabhide>=pw ? 0 : e.tabw;
						e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
						e.tabh = e.tabhide>=pw ? 0 : e.tabh;
						e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;					
						for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
						sl = nl[0];									
						for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}															
						var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);					
						newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
					}				
					if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));					
					document.getElementById(e.c).height = newh+"px";
					window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";				
				} catch(e){
					console.log("Failure at Presize of Slider:" + e)
				}					   
			//});
		  };</script>
</head>


<body class="page-template page-template-elementor_header_footer page page-id-1530 compare-property-active elementor-default elementor-template-full-width elementor-kit-2227 elementor-page elementor-page-1530">

<%- include ('header.ejs') -%> 


<div id="section-body">
	

		<div data-elementor-type="wp-page" data-elementor-id="1530" class="elementor elementor-1530" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-659e55ab elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="659e55ab" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-177b9da2" data-id="177b9da2" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2f1ed22b elementor-widget elementor-widget-homey_elementor_section_title" data-id="2f1ed22b" data-element_type="widget" data-widget_type="homey_elementor_section_title.default">
				<div class="elementor-widget-container">
			            <div class="homey_section_title_wrap_elementor homey-module module-title section-title-module">
                                    <h2 class="homey_section_title">Become a Host</h2>
                
                                    <p class="homey_section_subtitle sub-heading">Start To Earn Money On Your Schedule</p>
                            </div>
            		</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1a58e7e6" data-id="1a58e7e6" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6e9c22da elementor-widget elementor-widget-homey_elementor_register" data-id="6e9c22da" data-element_type="widget" data-widget_type="homey_elementor_register.default">
				<div class="elementor-widget-container">
					
		<div class="register_module_wrap">

	        <div class="homey_register_messages message"></div>

	        <h2>Register</h2>
	        <div class="modal-login-form">
	            
	            <form>
	                <div class="form-group">
	                    <input name="username" type="text" class="form-control email-input-1" placeholder="Username" />
	                </div>
	                <div class="form-group">
	                    <input type="useremail" name="useremail" class="form-control email-input-1" placeholder="Email">
	                </div>
	                <div class="form-group">
	                    <input type="hidden" name="role" value="homey_host">
	                </div>

	                
	                
	                <div class="checkbox pull-left">
	                    <label>
	                        <input name="term_condition" type="checkbox"> I agree with your <a href="index.html">Terms &amp; Conditions</a>	                    </label>
	                </div>
	                	                <input type="hidden" id="homey_register_security" name="homey_register_security" value="eeb068f537" /><input type="hidden" name="_wp_http_referer" value="/become-a-host/" />	                <input type="hidden" name="action" value="homey_register">
	                <input type="hidden" name="role" value="homey_host">
	                <button type="submit" class="homey-register-button btn btn-primary btn-full-width">Register</button>
	            </form>
	        </div>
	    </div><!-- /.modal-content -->


				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-168b3e9e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="168b3e9e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21c92475" data-id="21c92475" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-4cbb9411 elementor-widget elementor-widget-homey_elementor_icon_box" data-id="4cbb9411" data-element_type="widget" data-widget_type="homey_elementor_icon_box.default">
				<div class="elementor-widget-container">
			        <div class="homey-module service-blocks-main services-module three_columns style3">
            <div class="row ">
            
                <div class="module-item">
                    <div class="service-block">
                        <div class="block-icon">
                            <img width="60" height="60" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/icon-34.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />                        </div>
                        <div class="block-content">
                        <h3> Why Choose Homey</h3>
                            <p>Its modern design and ease of use is just the tip of the iceberg. A feature-rich theme options panel offers great functionality to customize your site and adapt it to your business model.</p>
                                                
                        </div>
                    </div>
                </div>

            
                <div class="module-item">
                    <div class="service-block">
                        <div class="block-icon">
                            <img width="60" height="60" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/icon-16-1.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />                        </div>
                        <div class="block-content">
                        <h3> Booking Made Easy</h3>
                            <p>Homey is equipped with great tools needed to deliver a product that any rental business would be delighted to have an impressive and appealing online presence.

</p>
                                                
                        </div>
                    </div>
                </div>

            
                <div class="module-item">
                    <div class="service-block">
                        <div class="block-icon">
                            <img width="60" height="60" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/icon-33.png" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy" />                        </div>
                        <div class="block-content">
                        <h3> Highly Customizable</h3>
                            <p>Homey is featured with every tool you’d need to deliver a professional website. It offers multiple possibilities of customization to make your design project unique and fascinating</p>
                                                
                        </div>
                    </div>
                </div>

                        </div>
        </div>
    		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7a46724c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a46724c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2dc135d9" data-id="2dc135d9" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-468bb7e elementor-widget elementor-widget-homey_elementor_space" data-id="468bb7e" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:50px"></div>		</div>
				</div>
				<div class="elementor-element elementor-element-54b0b9c6 elementor-widget elementor-widget-homey_elementor_section_title" data-id="54b0b9c6" data-element_type="widget" data-widget_type="homey_elementor_section_title.default">
				<div class="elementor-widget-container">
			            <div class="homey_section_title_wrap_elementor homey-module module-title section-title-module">
                                    <h2 class="homey_section_title">How To Become a Homey Host</h2>
                
                            </div>
            		</div>
				</div>
				<div class="elementor-element elementor-element-363f7d2c elementor-widget elementor-widget-homey_elementor_space" data-id="363f7d2c" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:50px"></div>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-6a7cd3b1 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6a7cd3b1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1f061e2c" data-id="1f061e2c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-6dc8ffc6 elementor-widget elementor-widget-text-editor" data-id="6dc8ffc6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><h2>1. List Your Place</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-10166729" data-id="10166729" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-521daf4f elementor-widget elementor-widget-image" data-id="521daf4f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="600" height="600" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="//89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1.jpg 600w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1-300x300.jpg 300w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1-150x150.jpg 150w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1-250x250.jpg 250w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1-500x500.jpg 500w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-1-360x360.jpg 360w" sizes="(max-width: 600px) 100vw, 600px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-31492208 elementor-widget elementor-widget-homey_elementor_space" data-id="31492208" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:50px"></div>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-6223f151 elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6223f151" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5e8f055c" data-id="5e8f055c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-904fd40 elementor-widget elementor-widget-image" data-id="904fd40" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="600" height="600" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="//89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2.jpg 600w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2-300x300.jpg 300w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2-150x150.jpg 150w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2-250x250.jpg 250w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2-500x500.jpg 500w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-2-360x360.jpg 360w" sizes="(max-width: 600px) 100vw, 600px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a8ffcc7" data-id="a8ffcc7" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-2e96323a elementor-widget elementor-widget-text-editor" data-id="2e96323a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><h2>2. Welcome Your Guests</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-431e6140 elementor-widget elementor-widget-homey_elementor_space" data-id="431e6140" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:50px"></div>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-615ad8ca elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="615ad8ca" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1400c120" data-id="1400c120" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-151ac47a elementor-widget elementor-widget-text-editor" data-id="151ac47a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><h2>3. Earn Money</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1ea221d8" data-id="1ea221d8" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7cde719a elementor-widget elementor-widget-image" data-id="7cde719a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="600" height="600" src="http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="//89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3.jpg 600w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3-300x300.jpg 300w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3-150x150.jpg 150w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3-250x250.jpg 250w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3-500x500.jpg 500w, //89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2020/10/become-a-host-3-360x360.jpg 360w" sizes="(max-width: 600px) 100vw, 600px" />											</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-64155be3 elementor-widget elementor-widget-homey_elementor_space" data-id="64155be3" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:80px"></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5c095c56 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c095c56" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e96f159" data-id="2e96f159" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-d6e8e40 elementor-widget elementor-widget-homey_elementor_space" data-id="d6e8e40" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:80px"></div>		</div>
				</div>
				<div class="elementor-element elementor-element-57acea86 elementor-widget elementor-widget-homey_elementor_section_title" data-id="57acea86" data-element_type="widget" data-widget_type="homey_elementor_section_title.default">
				<div class="elementor-widget-container">
			            <div class="homey_section_title_wrap_elementor homey-module module-title section-title-module">
                                    <h2 class="homey_section_title">Keep Everything Under Control</h2>
                
                            </div>
            		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-5d4e9be6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d4e9be6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-77fcfe3c" data-id="77fcfe3c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-1cd0c0f elementor-widget elementor-widget-text-editor" data-id="1cd0c0f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><img loading="lazy" class="size-full wp-image-2527 alignnone" src="https://demo10.gethomey.io/wp-content/uploads/2019/04/icon-23.png" alt="" width="60" height="60" /></p><h2><strong>Listing Management</strong></h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-45e0c9cd" data-id="45e0c9cd" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-34349f26 elementor-widget elementor-widget-text-editor" data-id="34349f26" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><img loading="lazy" class="wp-image-2528 size-full alignnone" src="https://demo10.gethomey.io/wp-content/uploads/2019/04/icon-16.png" alt="" width="60" height="60" /></p><h2><strong>Booking System</strong></h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-69b5c6bc" data-id="69b5c6bc" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-7670a551 elementor-widget elementor-widget-text-editor" data-id="7670a551" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p><img loading="lazy" class="wp-image-2529 size-full alignnone" src="https://demo10.gethomey.io/wp-content/uploads/2019/04/icon-07.png" alt="" width="60" height="60" /></p><h2><strong>Prices and Fees</strong></h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum venenatis neque eget tristique. Sed at porta felis. Duis vitae malesuada lacus. Duis lobortis risus gravida leo pellentesque bibendum.</p></div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-32a51987 elementor-widget elementor-widget-homey_elementor_space" data-id="32a51987" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:80px"></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-13393895 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13393895" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-795bb6a1" data-id="795bb6a1" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-649f6f66 elementor-widget elementor-widget-homey_elementor_space" data-id="649f6f66" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:60px"></div>		</div>
				</div>
				<div class="elementor-element elementor-element-23041fd4 elementor-widget elementor-widget-homey_elementor_section_title" data-id="23041fd4" data-element_type="widget" data-widget_type="homey_elementor_section_title.default">
				<div class="elementor-widget-container">
			            <div class="homey_section_title_wrap_elementor homey-module module-title section-title-module">
                                    <h2 class="homey_section_title">Frequently Asked Questions</h2>
                
                            </div>
            		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-7c338427 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7c338427" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-340221f" data-id="340221f" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-55d82332 elementor-widget elementor-widget-toggle" data-id="55d82332" data-element_type="widget" data-widget_type="toggle.default">
				<div class="elementor-widget-container">
					<div class="elementor-toggle" role="tablist">
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1441" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1441">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to list my place on Homey?</a>
					</div>
					<div id="elementor-tab-content-1441" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1441">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1442" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-1442">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How the payments works?</a>
					</div>
					<div id="elementor-tab-content-1442" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1442">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1443" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-1443">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to upgrade my place to featured?</a>
					</div>
					<div id="elementor-tab-content-1443" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1443">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1444" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-1444">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to get refund?</a>
					</div>
					<div id="elementor-tab-content-1444" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-1444">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
					</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4970f2da" data-id="4970f2da" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-78ce5136 elementor-widget elementor-widget-toggle" data-id="78ce5136" data-element_type="widget" data-widget_type="toggle.default">
				<div class="elementor-widget-container">
					<div class="elementor-toggle" role="tablist">
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2021" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-2021">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">Who to become an host?</a>
					</div>
					<div id="elementor-tab-content-2021" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2021">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2022" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-2022">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to get in touch with my guests?</a>
					</div>
					<div id="elementor-tab-content-2022" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-2022">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2023" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-2023">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to get paid?</a>
					</div>
					<div id="elementor-tab-content-2023" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-2023">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2024" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-2024">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<i class="elementor-toggle-icon-closed fa fa-plus"></i>
								<i class="elementor-toggle-icon-opened fa fa-minus"></i>
													</span>
												<a href="#" class="elementor-toggle-title">How to cancel a revervation?</a>
					</div>
					<div id="elementor-tab-content-2024" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-2024">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
					</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-48c67cf0 elementor-widget elementor-widget-homey_elementor_space" data-id="48c67cf0" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:80px"></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-414248bb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="414248bb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7b193bf3" data-id="7b193bf3" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-65ea269 elementor-widget elementor-widget-homey_elementor_space" data-id="65ea269" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:50px"></div>		</div>
				</div>
				<div class="elementor-element elementor-element-78ea4013 elementor-widget elementor-widget-homey_elementor_section_title" data-id="78ea4013" data-element_type="widget" data-widget_type="homey_elementor_section_title.default">
				<div class="elementor-widget-container">
			            <div class="homey_section_title_wrap_elementor homey-module module-title section-title-module">
                                    <h2 class="homey_section_title">List Your Space</h2>
                
                                    <p class="homey_section_subtitle sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae pretium dolor, et facilisis lacus. Duis ultricies egestas vulputate</p>
                            </div>
            		</div>
				</div>
				<div class="elementor-element elementor-element-62c094a4 elementor-align-center elementor-widget elementor-widget-button" data-id="62c094a4" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://demo10.gethomey.io/become-a-host/" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Become a Host</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6ed614b1 elementor-widget elementor-widget-homey_elementor_space" data-id="6ed614b1" data-element_type="widget" data-widget_type="homey_elementor_space.default">
				<div class="elementor-widget-container">
			<div style="clear:both; width:100%; height:70px"></div>		</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		</div> <!-- End #section-body -->
<%- include ('footer.ejs')-%>
<script>(function() {function maybePrefixUrlField() {
	if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
		this.value = "http://" + this.value;
	}
}

var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
if (urlFields) {
	for (var j=0; j < urlFields.length; j++) {
		urlFields[j].addEventListener('blur', maybePrefixUrlField);
	}
}
})();</script><script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/demo02.gethomey.io\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.2.2' id='contact-form-7-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/dist/vendor/moment.min.js?ver=2.26.0' id='moment-js'></script>
<script type='text/javascript' id='moment-js-after'>
moment.updateLocale( 'en_US', {"months":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthsShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"weekdaysShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"week":{"dow":1},"longDateFormat":{"LT":"g:i a","LTS":null,"L":null,"LL":"F j, Y","LLL":"F j, Y g:i a","LLLL":null}} );
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/modernizr.custom.js?ver=3.2.0' id='modernizr-custom-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/bootstrap.min.js?ver=3.3.7' id='bootstrap-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/slick.min.js?ver=1.0.0' id='slick-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/jquery.swipebox.min.js?ver=1.4.4' id='jquery-swipebox-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/bootstrap-select.min.js?ver=1.12.4' id='bootstrap-select-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/bootstrap-slider.min.js?ver=10.0.2' id='bootstrap-slider-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/parallax-background.min.js?ver=1.2' id='parallax-background-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/jquery.matchHeight-min.js?ver=0.7.2' id='jquery-matchHeight-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/jquery.vide.min.js?ver=0.5.1' id='jquery-vide-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/theia-sticky-sidebar.js?ver=0.5.1' id='theia-sticky-sidebar-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.11.4' id='jquery-effects-core-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4' id='jquery-ui-datepicker-js'></script>
<script type='text/javascript' id='jquery-ui-datepicker-js-after'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4' id='jquery-ui-widget-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4' id='jquery-ui-mouse-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4' id='jquery-ui-slider-js'></script>
<script type='text/javascript' id='homey-ajax-calls-js-extra'>
/* <![CDATA[ */
var HOMEY_ajax_vars = {"admin_url":"https:\/\/demo02.gethomey.io\/wp-admin\/","homey_is_rtl":"no","redirect_type":"same_page","login_redirect":"https:\/\/demo02.gethomey.io\/become-a-host\/","woo_checkout_url":"","login_loading":"Sending user info, please wait...","direct_pay_text":"Processing, Please wait...","processing_text":"Processing, Please wait...","user_id":"0","is_singular_listing":"","process_loader_refresh":"fa fa-spin fa-refresh","process_loader_spinner":"fa fa-spin fa-spinner","process_loader_circle":"fa fa-spin fa-circle-o-notch","process_loader_cog":"fa fa-spin fa-cog","success_icon":"fa fa-check","stripe_publishable_key":"pk_test_c09jxI4MmzfKLFY4oqCnwUum","add_compare":"Compare","remove_compare":"Remove from compare","compare_limit":"Maximum item compare are 4","compare_url":"https:\/\/demo02.gethomey.io\/compare\/","prev_text":"Prev","next_text":"Next","are_you_sure_text":"Are you sure you want to do this?","delete_btn_text":"Delete","cancel_btn_text":"Cancel","confirm_btn_text":"Confirm","paypal_connecting":"Connecting to paypal, Please wait... ","currency_updating_msg":"Updating Currency, Please wait...","agree_term_text":"You need to agree with terms and condition","choose_gateway_text":"please choose payment gateway","homey_tansparent":"","homey_is_transparent":"","homey_is_top_header":"","simple_logo":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2019\/02\/homey-logo.png","retina_logo":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2019\/02\/homey-logo@2x.png","mobile_logo":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2019\/02\/homey-logo.png","retina_logo_mobile":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2019\/02\/homey-logo@2x.png","custom_logo_mobile_splash":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2018\/10\/homey-logo-white.png","retina_logo_mobile_splash":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2018\/10\/homey-logo-white@2x.png","custom_logo_splash":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2018\/10\/homey-logo-white.png","retina_logo_splash":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2018\/10\/homey-logo-white@2x.png","no_more_listings":"There are no more listings available","allow_additional_guests":"","allowed_guests_num":"","num_additional_guests":"","homey_reCaptcha":"0","calendar_link":"https:\/\/demo02.gethomey.io\/add-listing\/?edit_listing&tab=calendar","pricing_link":"https:\/\/demo02.gethomey.io\/add-listing\/?edit_listing&tab=pricing","search_position":"under_banner","replytocom":"","homey_is_dashboard":"","is_listing_detail":"no","homey_booking_type":"per_day","booked_hours_array":"[]","pending_hours_array":"[]","booking_start_hour":"","booking_end_hour":"","hc_reserved_label":"Reserved","hc_pending_label":"Pending","hc_hours_label":"Hours","hc_today_label":"Today","homey_timezone":"","homey_current_lang":["en","US"],"homey_date_format":"yy-mm-dd","geo_country_limit":"0","homey_calendar_months":"12","geocomplete_country":"","homey_min_book_days":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/homey-ajax.js?ver=1.6.0' id='homey-ajax-calls-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/custom.js?ver=1.6.0' id='homey-custom-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/richmarker-compiled.js?ver=1.0.0' id='richmarker-compiled-js'></script>
<script type='text/javascript' id='homey-maps-js-extra'>
/* <![CDATA[ */
var HOMEY_map_vars = {"admin_url":"https:\/\/demo02.gethomey.io\/wp-admin\/","user_id":"0","homey_is_rtl":"no","is_singular_listing":"","header_map_city":[],"markerPricePins":"yes","pin_cluster":"yes","pin_cluster_icon":"https:\/\/demo02.gethomey.io\/wp-content\/uploads\/2018\/11\/cluster-3.png","pin_cluster_zoom":"12","geo_country_limit":"0","geocomplete_country":"","infoboxClose":"https:\/\/demo02.gethomey.io\/wp-content\/themes\/homey\/images\/close.gif","google_map_style":"[\r\n    {\r\n        \"featureType\": \"administrative\",\r\n        \"elementType\": \"labels.text.fill\",\r\n        \"stylers\": [\r\n            {\r\n                \"color\": \"#6e6e6e\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"administrative.country\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"administrative.province\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"administrative.province\",\r\n        \"elementType\": \"geometry.stroke\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"administrative.locality\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"simplified\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"administrative.neighborhood\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"landscape\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"color\": \"#f4f4f4\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"poi\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"poi.park\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"simplified\"\r\n            },\r\n            {\r\n                \"color\": \"#d2ef9d\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"road\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"saturation\": -100\r\n            },\r\n            {\r\n                \"lightness\": 45\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"road.highway\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"simplified\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"road.arterial\",\r\n        \"elementType\": \"labels.icon\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"transit\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"water\",\r\n        \"elementType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"color\": \"#94dfed\"\r\n            },\r\n            {\r\n                \"visibility\": \"on\"\r\n            }\r\n        ]\r\n    }\r\n]","not_found":"We didn't find any results","is_mapbox":"google","api_mapbox":"","arrive":"","depart":"","guests":"","pets":"","search_country":"","search_city":"","search_area":"","listing_type":"","country":"","state":"","city":"","area":"","start_time":"","end_time":"","min_price":"","max_price":"","bedrooms":"","rooms":"","room_size":"","booking_type":"","amenity":"","facility":"","keyword":"","lat":"","lng":"","radius":"","bedrooms_icon":"<i class=\"fa fa-bed\"><\/i>","bathroom_icon":"<i class=\"fa fa-shower\"><\/i>","guests_icon":"<i class=\"fa fa-user\"><\/i>","default_lat":"25.686540","default_lng":"-80.431345","homey_default_radius":"30"};
/* ]]> */
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/homey-maps.js?ver=1.6.0' id='homey-maps-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/markerclusterer.min.js?ver=2.1.1' id='markerclusterer-min-js'></script>
<script type='text/javascript' src='https://js.stripe.com/v3/?ver=1.0' id='stripe-js'></script>
<script type='text/javascript' id='homey-stripe-js-extra'>
/* <![CDATA[ */
var HOMEY_stripe_vars = {"stripe_publishable_key":"pk_test_c09jxI4MmzfKLFY4oqCnwUum","featured_return_link":"https:\/\/demo02.gethomey.io\/add-listing\/?edit_listing&featured=1","reservation_return_link":"https:\/\/demo02.gethomey.io\/","req_name":"Name field required","req_email":"Email field required","req_phone":"Phone field required","payment_failed":"Payment Failed, please make sure you have entered name, email and valid card number"};
/* ]]> */
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/themes/homey/js/stripe-sca.js?ver=1.6.0' id='homey-stripe-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/wp-embed.min.js?ver=5.5.3' id='wp-embed-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/mailchimp-for-wp/assets/js/forms.min.js?ver=4.8.1' id='mc4wp-forms-api-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.0.11' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4' id='jquery-ui-position-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.0.11' id='share-link-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.0.11","is_static":false,"legacyMode":{"elementWrappers":true},"urls":{"assets":"https:\/\/demo02.gethomey.io\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":1530,"title":"Become%20a%20Host%20%E2%80%93%20Homey","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='http://89239-660555-raikfcquaxqncofqfm.stackpathdns.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.0.11' id='elementor-frontend-js'></script>

</body>

<!-- Mirrored from demo02.gethomey.io/become-a-host/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Dec 2020 06:20:31 GMT -->
</html>
<!-- Cache served by breeze CACHE - Last modified: Mon, 14 Dec 2020 21:57:35 GMT -->
